.git
.gitignore
.gitattributes
node_modules
vendor
.env
.env.*
public/hot
public/storage
public/assets/images
public/images
public/invoice_pdf
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
docker-compose.yml
Makefile
