/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
devratcart/web.zip
well-known.zip
database/kecommerce.sql
storage/framework/cache/*
devratcart/web.zip
well-known.zip
.env
database/*.sql
storage/framework/cache/*
.env
**/*.sql
devratcart/storage/framework/cache/*
